.Loader {
    border: 10px solid black;
    border-radius: 70%;
    animation: spin 40s linear infinite;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 40%;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } 