.btn {
    background-color: #D77FA1;
    color: black;
    float: right;
    margin: 4px 50px;
    width: 150px;
    height: 52px;
    left: auto;
  }
  .card-img-top{
    width: 70%;
    height: 70%;
    margin: 2.5em;
    border-radius: 50%;
  }
  .card{
    width: 10rem;
    height: 93%;
    background-color: #986D8E;
    color: #272343;
    left: 50px;
    right: 50px;
    padding: 20px 20px;
    margin: 0.5em;
    margin-left: 30em; 
  }
  .card:hover{
    background-color: #BFA2DB;
   }
  .card-deck{
    margin: 0.9em;
    width: 30%;
  }
  .card-text{
    font-size: 25px;
    margin: 0.9em;
    text-decoration-color:  #64C9CF;
  }